// Header
.mainheader {
  // margin: {
  //   top: 2rem;
  // }
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-width: 100%;
  transition: height 0.3s ease;

  @include laptop {
    justify-content: space-between;
  }

  // @include tablet {
  //   margin: {
  //     top: 1rem;
  //   }
  // }
}

.mainheader__title {
  font-style: italic;
  margin-left: 2rem;

  display:flex;
  align-items: center;

  @include tablet {
    margin-left: 1.5rem;
    font-size: 3rem;
  }

  @include smallphone {
    margin-left: 1rem;
    font-size: 1.3rem;
  }

  a {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.mainheader__title-3d {
  max-width: 1024px;
  width: 40vw;
  height: 12rem;
  transition: opacity 1000ms ease;
  z-index: 2;

  div {
    height: 12rem;
  }

  @include tablet {
    width: 40vw;
    height: 8rem;
    div {
      height: 8rem;
    }
  }

  @include smallphone {
    width: 45vw;
    height: 6rem;
    div {
      height: 6rem;
    }
  }
}


.mainheader__title-secret {
  position: absolute;
  cursor: pointer;
  width: 5rem;
  height: 5rem;
  font-size: 1.5rem;
  font-family: 'Neue Haas Unica', sans-serif;
  font-weight: 700;
  font-style: normal;
  color: $black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;

  &:hover {
    background-color: $yellow;
    opacity: 1;
  }

    @include tablet {
  width: 3rem;
  height: 3rem;
  }
}

.mainheader__fallback {
  width: 40vw;
  height: 78px;
}

.mainheader__fallback-container {
  max-width: 1024px;
  width: 40vw;
  height: 10rem;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 2000ms ease;

    @include tablet {
    height: 8rem;
  }

  @include smallphone {
    height: 6rem;
  }
}

.mainheader__menu {
  margin-right: 2rem;

  ul {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 1.5rem;
    display: flex;
    flex-direction: row;
    list-style: none;

    li {
      margin-left: 1rem;
    }
  }

  @include tablet {
    margin-right: 1.5rem;
    h3 {
      font-size: 2rem;
    }
  }

  @include smallphone {
    margin-right: 1rem;
    h3 {
      font-size: 1.5rem;
    }
  }
}

.mainheader__menuitem {
  @include link-underline(
    $underline-color-background,
    $underline-color,
    $underline-color-selected
  );

  .mainheader__menuitem--active {
    color: $white;
    &:hover {
      color: $white;
    }
  }
}
